<footer class="it-foot">
    <div class="it-container">
        <div class="it-foot-inner">
            <div class="it-foot-brand">
                <h4>
                    <a class="it-foot-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}" />
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                </h4>
                {{#if @site.description}}
                    <p>{{@site.description}}</p>
                {{/if}}
            </div>
            <div class="it-foot-menu">
                <h4>{{t "Links"}}</h4>
                {{#if @site.secondary_navigation}}
                    {{navigation type="secondary"}}
               {{else}}
                   {{navigation}}
               {{/if}}
            </div>
            <div class="it-foot-tag">
                <h4>{{t "Tags"}}</h4>
                {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                    {{#foreach tags}}
        				<a href="{{url}}" title="{{title}}">{{name}}</a>
        			{{/foreach}}
    			{{/get}}
            </div>
            
            
            <div class="it-subscribe-section">
                {{#if @labs.members}}
                	<h4>{{t "Subscribe"}}</h4>
                	<p>{{t "Stay up to date! Get all the latest & greatest posts delivered straight to your inbox"}}</p>
                	<div class="it-subscribe-content">
                		<form data-members-form="subscribe" class="subscribe-form">
                			<div class="input-wrapper">
                				<input type="email" class="subscribe-form-input" placeholder="{{t "Email"}}" aria-label="{{t "Email"}}" data-members-email="">
                				<button type="submit" class="subscribe-form-button">{{t "Subscribe"}}</button>
                			</div>
                			<div class="message-success">{{t "Please check your inbox and click the link to confirm your subscription."}}</div>
                			<div class="message-error">{{t "An error occurred, please try again later."}}</div>
                		</form>
                	</div>
                {{/if}}
            </div>
            
            <div class="it-foot-meta">
                &copy; {{date format="YYYY"}} {{@site.title}} {{{t "Published with {ghostlink}" ghostlink="<a href=\"https://ghost.org\">Ghost</a>"}}} {{t "&"}} <a href="https://inoryum.com/ghost-themes/aesto" target="_blank" title="aEsto">aEsto</a>
            </div>
            <div class="it-foot-social">
                {{#if @site.facebook}}
                <a href="{{facebook_url @site.facebook}}" title="{{t "Facebook"}}" target="_blank" rel="noopener" aria-label="{{t "Facebook"}}">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" title="{{t "Twitter"}}" target="_blank" rel="noopener" aria-label="{{t "Twitter"}}">{{> "icons/twitter"}}</a>
                {{/if}}
                <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="{{t "RSS"}}" target="_blank" rel="noopener" aria-label="{{t "RSS"}}">{{> "icons/rss"}}</a>
            </div>
        </div>
    </div>
</footer>
